# Configurações Globais do App
BILLING_BASE_URL=oficina48_billing.com.br
BILLING_DOCUMENTOS_PATH=./documentos
SERVER_PORT=8082

# Configurações de Banco de Dados
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=oficina48_billing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Configurações do AWS / LocalStack
AWS_REGION=us-east-1
SQS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Configurações de Filas SQS
SQS_QUEUE_FATURAMENTO_SOLICITADO=faturamento-solicitado
SQS_QUEUE_FATURAMENTO_PENDENTE=faturamento-pendente
SQS_QUEUE_FATURAMENTO_CONCLUIDO=faturamento-concluido
SQS_QUEUE_FATURAMENTO_FALHOU=faturamento-falhou
SQS_QUEUE_FALHA_PAGAMENTO=falha-pagamento
SQS_QUEUE_ORCAMENTO_SOLICITADO=orcamento-solicitado
SQS_QUEUE_ORCAMENTO_APROVADO=orcamento-aprovado
SQS_QUEUE_ORCAMENTO_REPROVADO=orcamento-reprovado

# Integração com OS Service
OS_SERVICE_BASE_URL=http://localhost:8080
OS_SERVICE_CALLBACK_PATH=/api/ordens-servico/faturamento/resultado
OS_SERVICE_CONNECT_TIMEOUT=2s
OS_SERVICE_READ_TIMEOUT=5s

# Configurações da Saga (Retry)
SAGA_CALLBACK_RETRY_FIXED_DELAY=30000
SAGA_CALLBACK_RETRY_INITIAL_DELAY=10000
SAGA_CALLBACK_RETRY_MAX_ATTEMPTS=5

# Integração Mercado Pago
MRCPAGO_ACCESS_TOKEN=
MRCPAGO_WEBHOOK_URL=https://oficina48_billing.com.br/api/mercadopago/webhook
MRCPAGO_PUBLIC_KEY=
MRCPAGO_PRIVATE_KEY=
MRCPAGO_CLIENT_SECRETS=dummy_secret
MRCPAGO_ENFORCE_SIGNATURE=false
